.module-items {
    width: 100%;
    flex-direction: column;

    .module-item {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
        align-items: center;

        div:not(:first-of-type) {
            justify-content: center;
        }

        &:not(.decoration) {
            div {
                span {
                    display: block;
                }

                input:not([type="checkbox"]), select {
                    display: none;
                } 
            }

            &.editable {
                div {
                    span {
                        display: none;
                    }

                    input:not([type="checkbox"]), select {
                        display: block;
                    } 
                }

                .module-item__controls {

                    button {

                        &[data-entity="edit"] {
                            display: none;
                            margin-left: auto;
                        }

                        &[data-entity="save"] {
                            display: block;
                            margin-right: 0;
                            margin-left: auto;
                        }
                    }
                }
            }
        }

        &__name {
            width: 20%;
            margin-right: 1%;
        }

        &__enable {
            width: 5%;
            margin-right: 1%;
        }

        &__environment {
            width: 10%;
            margin-right: 1%;
        }

        &__priority {
            width: 10%;
            margin-right: 2%;
        }

        &__controls {
            width: 51%;

            button {
                width: 20%;
                margin-left: 1%;

                &[data-entity="edit"] {
                    display: block;
                    margin-left: auto;
                }

                &[data-entity="save"] {
                    display: none;
                    margin-right: 0;
                }

                &:first-of-type {
                    margin-left: auto;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
