.weather-settings {
    width: 100%;

    &__api {
        width: 100%;
        flex-direction: column;

        &--key {
            margin-bottom: .5rem;

            input {
                min-width: 20rem;
            }
        }

        &--uri {
            margin-bottom: .5rem;

            input {
                min-width: 20rem;
            }
        }

        &--save {
            margin-bottom: 1.5rem;
        }

        &--location {
            flex-direction: column;
            margin-bottom: 2rem;

            .cselect-with-input {
                width: 20rem;
            }

            .country-select {
                margin-bottom: .5rem;
            }

            .weather-coords {
                margin-bottom: 1rem;

                &-input {
                    flex-direction: column;
                    margin-right: 2rem;
                }

                &-latlon {
                    flex-direction: column;
                    width: 15rem;

                    &--lat {
                        margin-bottom: auto;
                    }

                    &--label {
                        align-items: center;
                    }

                    &--input {
                        width: 7rem;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
