.module-items {
    flex-direction: column;

    .module-item {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
        align-items: center;

        div:not(:first-of-type) {
            justify-content: center;
        }

        &__name {
            width: 20%;
            margin-right: 1%;
        }

        &__enable {
            width: 5%;
            margin-right: 1%;
        }

        &__environment {
            width: 10%;
            margin-right: 1%;
        }

        &__priority {
            width: 10%;
            margin-right: 2%;
        }

        &__controls {
            width: 51%;

            button {
                width: 20%;
                margin-left: 1%;

                &[data-active="true"] {
                    display: block;
                }

                &[data-active="false"] {
                    display: none;
                }

                &:first-of-type {
                    margin-left: auto;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
