.error-modal {
    position: relative;
    flex-direction: column;
    width: 40rem;
    
    margin: auto auto auto auto;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    
    border: 5px solid $cultured;
    background-color: $red;
    box-shadow: 0 0 6px 1px $black;
    
    & div.error-row:not(:nth-of-type(2)) {
        padding: 1rem;
    }
    
    & div.error-row:not(:last-of-type) {
        margin: 0 0 1rem 0;
    }
    
    & div.error-row {
        background-color: $cultured;
        overflow: hidden;
    }
    
    &-menu {
        height: 1.5rem;
        width: 40rem;
    }
    
    &-img {
        width: auto;
        margin: 0 0 1rem 0;
        
        & a {
            display: block;
            
            width: 100%;
            height: 100%;
            padding: 1rem;
            
            text-decoration: none;
            border: 1px solid $cultured;
            
            color: #000;
            
            & .error-modal-img__a {
                width: 100%;
                height: 100%;
            
                align-items: center;
                
                & img {
                    width: 4rem;
                    height: 4rem;
                }
                
                & span {
                    height: 4rem;
                    align-items: center;
            
                    font-size: 1.5rem;
                    font-weight: 800;
            
                    margin: 0 1rem 0 1rem;
                }
            }
        }
    }
    
    &-additional {
        width: auto;
        min-width: auto;
    }    
}
