.error-modal {
    position: relative;
    flex-direction: column;
    width: 40rem;

    margin: auto auto auto auto;
    padding: 2rem 1.5rem 1.5rem 1.5rem;

    border: .3rem solid $cultured;
    background-color: $red;
    box-shadow: 0 0 6px 1px $black;

    & .error-row:not(:nth-of-type(2)) {
        margin: 0 0 1rem 0;
        background-color: $cultured;
    }

    & .error-row:not(:last-of-type) {
        margin: 0 0 1rem 0;
    }

    & .error-row {
        width: auto;
        min-width: auto;
        overflow: hidden;
        padding: 0.5rem 1rem;
    }

    &:hover {
        & .error-modal-menu {
            opacity: 1;
        }
    }

    & &-code {
        font-size: 2rem;
        font-weight: 800;
        color: $cultured;
        padding: .5rem 0;
    }

    & &-menu {
        position: relative;
        height: 2rem;
        width: 43rem;
        top: -5rem;
        left: -1.7rem;
        margin: 0 0 -3rem 0;
        opacity: 0;
        transition: opacity .3s;
        border: .3rem solid transparent;

        & button {
            background: transparent;
            outline: none;
            border: 1px solid lightgray;
            cursor: pointer;
            width: 5rem;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            font-weight: 600;
            margin: 0 .5rem 0 0;
            transition: background-color, color .2s;

            &:active {
                margin: 1px .5rem -1px 0;
            }

            &:not([data-entity="home"]):hover {
                background-color: $sapphire;
                color: $cultured;
            }

            &[data-entity="home"]:hover {
                background-color: $red;
                color: $cultured;
            }
        }
    }

    &.expanded {
        & .error-modal-additional {
            width: min-content;
        }
        
        & .error-modal-additional {
            width: min-content;
        }
    }   
}
