.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;

    .navigation-menu {
        align-items: center;
        width: calc(100% - 1rem);
        height: 4rem;
        box-shadow: 0 0 3px 1px $blackHalfTransparent;
        padding: 0 1rem;

        &-item {
            position: relative;
            padding: 0 1rem;
            height: 3rem;
            justify-content: center;

            &.margin-left-auto {
                margin-left: auto;
            }

            a {
                width: 100%;
                height: calc(100% - 2px);
                display: flex;
                text-decoration: none;
                font-size: 1.2rem;
                align-items: center;
                color: $black;
                transition: color .2s;
            }

            &:not(:last-of-type) {
                margin-right: 1rem;
            }

            &:hover {
                & .navigation-menu-item__underline {
                    width: 100%;
                }
            }

            &__underline {
                position: absolute;
                transition: width .2s;
                width: 0;
                bottom: 0;
                background-color: transition;
            }
        }

        &-item:hover, &-item.active {
            & .navigation-menu-item__underline {
                width: 100%;
                height: 2px;
                background-color: $blue;
            }

            a {
                color: $blue;
            }
        }
    }
}
