body {
    margin: 0px;
    background-color: $white;
    
    & div {
        display: flex;
    }
    
    & .content {
        flex-direction: column;
        min-height: calc(100% - 6rem);
        width: calc(100% - 2rem);
        overflow: auto;
        padding: 1rem;

        &.margin-from-header {
            margin-top: 4rem;
        }
    }
}
