.content-notification {
    position: fixed;
    width: 20rem;
    bottom: 1rem;
    left: -100vw;
    min-height: 10rem;
    flex-direction: column;
    box-shadow: 0 0 3px 1px $blackHalfTransparent;
    transition: left .4s;
    background: $white;

    &.error {
        & .content-notification-menu {
            background-color: $red;

            & .notification-title {
                color: $white;
            }
        }
    }

    &.visible {
        left: 1rem;
    }

    &-menu {
        height: 2.5rem;
        padding: 0 .5rem 0 1rem;
        align-items: center;
        justify-content: space-between;
        background-color: $sapphire;

        & .notification-title {
            font-size: 1.2rem;
            color: $white;
        }

        & .close-button {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            border: none;
            background: no-repeat center/75% url('/images/close.webp');
            outline: none;

            &:hover {
                border: none;
                box-shadow: none;
            }
        }
    }

    &-text {
        padding: 1rem;
    }
}
