.tabbed-content {
    width: 100%;
    flex-direction: column;

    & .tabs {
        width: 100%;
        flex-direction: row;

        .tab {
            height: 2.5rem;
            padding: 0 1.5rem;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            color: $blackHalfTransparent;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: 1px -2px 3px $blackHalfTransparent;
            transition: color, border-color, box-shadow .2s;

            &:not(:last-child) {
                margin-right: .3rem;
            }

            &:hover {
                color: $blue;
            }

            &.active {
                color: $blue;
            }
        }
    }

    & .tab-contents {
        width: 100%;
        box-shadow: 1px 2px 3px $blackHalfTransparent;

        .tab-content {
            width: 100%;
            padding: 2rem 1.5rem 1rem 1.5rem;
            display: none;

            &.active {
                display: flex;
            }
        }
    }
}
